.adk-top {
	background: #e1e1e1; 
	height: 20px; 
	width: 100%;
}


.adk-top .close {
	display: block; 
	cursor: pointer; 
	width: 15px; 
	height: 15px; 
	margin: 3px 5px; 
	background: url('http://nscontext.com/widgets/adk-close.png');
}

.adk-position-right .adk-top .close { 
  float: left;
}

.adk-position-left .adk-top .close { 
  float: right;
}

.adk-position-right .adk-top .adk-title { 
  float: right;
}

.adk-position-left .adk-top .adk-title { 
  float: left;
}

.adk-top .adk-title {
	font: 12px Helvetica; 
	color: gray; 
	margin: 4px 7px 0 7px;  
}
.adk-fixed {
	bottom: 0;
	box-shadow: 0 4px 10px #666666;
	margin: 0;
	overflow: hidden;
	position: fixed; 
	right: -0px;
	background: #fff; 
	z-index: 1000;
}

.adk-position-right.adk-fixed, .adk-position-right .adk-top {
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
}

.adk-position-left.adk-fixed, .adk-position-left .adk-top {
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;
}


.adk-adcode iframe {
	position: absolute;
	left: 0px;
}
