.na_onimage {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.na_onimage div {
  position: absolute;
  bottom: 0;
  margin: 0 auto 10px auto;
  width: 100%;
  background-color: #E5E5E5;
 -moz-opacity: 0.85;
  opacity: 0.85;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=85);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85);
  filter:alpha(opacity=85);
  z-index: 99999999;
}

.na_onimage iframe {
  margin: 0 auto !important;
}

.na_onimage div .close {
  position: absolute;
	display: block;
	cursor: pointer;
	right: 5px;
	bottom: 70px;
	width: 15px;
	height: 15px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAIAAAC0tAIdAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAchJREFUeNokkjmuwkAQRL/NsJvVrGJzREpGxBk4D8cgwBIn4CwEBBAiAiR2DGIROxj8n+0JRj3dNdXVNSMtl8ufs4QQiqL4/X6Px2NZliRJ3+/39XpdLhcC2VnCNE0OwWBQVVVqs9nsdruRDAQCkUgknU6nUqnj8Xi/371er4CVAtnFYjGdTqGkg8/nIzgcDufzOZfLUd3tdnDRX3Ab6Hg8hj6bzYImCfr9fl+vV3BoSCaTBCIcDj+fT1g5VyqVWCxGxz9nUXInOZ1OBEiQUbzZbGCiI0LRx1guer/fM248HgdHk1AoJOMAkeIsaIbDoa7rhmEMBoNut8sFZqAJTthTwkFECq3EjUYDT9rtNohms8l80MNIc9tCELYgWbacRUHTtPl8/ng8GAM+FwcX7smfzwe57HhMod/v93q9VqtVr9c7nQ5KoKPENRyUkEjTyWSSSCTy+fxqtYK1Wq3CNxqNMpkMeUaHkTcS+B+NRguFwna7RVK5XKYDkqCs1WrwAcUNmoMUjLher4vFImQ8Hi9CzbWcEtewmGHA2L+FLAbzlmRLpRI7NIhhB4StDEcVl6GTUMwl9w8iiRlwExwZZABy/yDySP4LMAANWS3U5e1VVgAAAABJRU5ErkJggg==);
}

.adk-top {
	background: #e1e1e1;
	height: 20px;
	width: 100%;
}

.adk-top .close {
	display: block;
	cursor: pointer;
	width: 15px;
	height: 15px;
	margin: 3px 5px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAIAAAC0tAIdAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAchJREFUeNokkjmuwkAQRL/NsJvVrGJzREpGxBk4D8cgwBIn4CwEBBAiAiR2DGIROxj8n+0JRj3dNdXVNSMtl8ufs4QQiqL4/X6Px2NZliRJ3+/39XpdLhcC2VnCNE0OwWBQVVVqs9nsdruRDAQCkUgknU6nUqnj8Xi/371er4CVAtnFYjGdTqGkg8/nIzgcDufzOZfLUd3tdnDRX3Ab6Hg8hj6bzYImCfr9fl+vV3BoSCaTBCIcDj+fT1g5VyqVWCxGxz9nUXInOZ1OBEiQUbzZbGCiI0LRx1guer/fM248HgdHk1AoJOMAkeIsaIbDoa7rhmEMBoNut8sFZqAJTthTwkFECq3EjUYDT9rtNohms8l80MNIc9tCELYgWbacRUHTtPl8/ng8GAM+FwcX7smfzwe57HhMod/v93q9VqtVr9c7nQ5KoKPENRyUkEjTyWSSSCTy+fxqtYK1Wq3CNxqNMpkMeUaHkTcS+B+NRguFwna7RVK5XKYDkqCs1WrwAcUNmoMUjLher4vFImQ8Hi9CzbWcEtewmGHA2L+FLAbzlmRLpRI7NIhhB4StDEcVl6GTUMwl9w8iiRlwExwZZABy/yDySP4LMAANWS3U5e1VVgAAAABJRU5ErkJggg==);
}

.adk-position-right .adk-top .close {
  float: left;
}

.adk-position-left .adk-top .close {
  float: right;
}

.adk-position-bottom .adk-top .close {
  float: right;
}

.adk-position-right .adk-top .adk-title {
  float: right;
}

.adk-position-bottom .adk-top .adk-title {
  float: left;
}

/* position of iframe should be align to proper side */

.adk-adcode iframe {
	float: left;
	clear: both;
}

.adk-position-left .adk-top .adk-title {
  float: left;
}

.adk-position-left .adk-adcode iframe {
  float: right;
}

.adk-position-right .adk-adcode iframe {
  float: left;
}

.adk-position-bottom .adk-adcode iframe {
  float: left;
}

.adk-top .adk-title {
	font: 12px Helvetica;
	color: gray;
	margin: 4px 7px 0 7px;
}

.adk-fixed {
	bottom: 0;
	box-shadow: 0 4px 10px #666666;
	margin: 0;
	overflow: hidden;
	position: fixed;
	right: -0px;
	background: #fff;
	z-index: 1000;
}

.adk-position-right.adk-fixed, .adk-position-right .adk-top {
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
}

.adk-position-left.adk-fixed, .adk-position-left .adk-top {
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;
}

.adk-position-bottom.adk-fixed, .adk-position-bottom .adk-top {
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  border-top-right-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-left-radius: 15px;
}

.adk-position-left.adk-fixed, .adk-position-bottom {
  right: 50%;
}